.digit {
    -fx-text-fill: black;
    -fx-background-color: #FFD700;
}
.digit:hover {
	-fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-fontsize: 22;
    -fx-text-fill: #5B5A5A;
    -fx-border-color: #5B5A5A;
    -fx-border-radius: 5;
    -fx-border-width: 3;
}
.digit:pressed {
	-fx-text-fill: white;
    -fx-background-color: black;
}
.special {
	-fx-text-fill: black;
	-fx-background-color: orange;
}
.special:hover {
	-fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-fontsize: 22;
    -fx-text-fill: #5B5A5A;
    -fx-border-color: #5B5A5A;
    -fx-border-radius: 5;
    -fx-border-width: 3;
}
.special:pressed {
	-fx-text-fill: white;
    -fx-background-color: black;
}
.display {
 	-fx-border-color: #FFFFFF;
 	-fx-text-fill: white;
}